.nav {
    position: fixed;
    top: 0;
    left: -35%;
    width: 35%;
    height: 100%;
    background: rgba(0, 37, 204, 0.603);
    overflow: auto;
    padding: 15px 15px;
    transition: left .3s ease-in-out;
}
.nav.open{
    left: 0;
}

.content{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    width: auto;
    height: auto;
    min-height: 100%;
    padding: 25px 15px;
    transition: left .3s ease-in-out;
}
.content.open{
    left: 35%;
    transition: .3s ease-in-out
}

.topNav{
    position: relative;
    height: 50%;
    width: 100%;
}
.bottomNav{
    position: relative;
    height: 50%;
    width: 100%;
}

.navbtn{
    position: fixed;
    margin: auto;
    text-align: center;
    left:0;
    transition: .3s left ease-in-out;
}

.navbtn.open{
    left: 35%;
}
